.tag {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  color: rgb(67, 69, 83);
  background-color: rgb(222, 224, 243);
  font-weight: 600;
}
