.filter-slider {
  &__title {
    margin: 5px 0;
    font-weight: 600;
  }
  &__wrapper {
    margin-bottom: 5px;
    background-color: rgb(222, 224, 243);
    padding: 1px 5px 10px 5px;
    border-radius: 5px;
  }
  &__values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-weight: 500;
  }
}

// RangeSlider specific styles
:global {
  .range-slider {
    height: 4px !important;
    border-radius: 10px !important;
    background: rgb(67, 69, 83) !important;
  }

  .range-slider__thumb[data-lower] {
    cursor: pointer !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    background: rgb(67, 69, 83) !important;
  }

  .range-slider__thumb[data-upper] {
    width: 0 !important;
  }

  .range-slider__range {
    background: rgb(178, 183, 216) !important;
  }
}
