.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(67, 69, 83);
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
}

.button--primary {
  &:hover {
    color: rgb(67, 69, 83);
    background-color: rgb(178, 183, 216);
  }
}

.button--stealth {
  background-color: transparent;
  padding: 0;
  &:hover {
    margin-bottom: 5px;
  }
}
