.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(67, 69, 83);
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
}

.button--stealth {
  background-color: transparent;
}

.button--addFavorite {
  background-color: transparent;
  color: rgb(67, 69, 83);
  background-color: #fff;
  width: 40px;
  height: 40px;
  svg {
    width: 20px;
  }
}
