.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(67, 69, 83);
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
}

.button--stealth {
  background-color: transparent;
}

.button--loadMore {
}
