.tabs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
  &__control {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    display: inline-block;
    overflow-y: auto;
    background-color: rgb(178, 183, 216);
    border-radius: 5px;
    padding: 10px 0;
    height: 155px;
  }
  &__control-item {
    cursor: pointer;
    color: gray;
    background-color: rgb(67, 69, 83);
    border-radius: 5px;
    padding: 5px 8px;
  }

  &__control-item--active {
    color: #fff;
  }
}
