.recipes-list {
  margin: 0 15px;
  padding: 0 15px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 309px);
  gap: 10px;
  margin-bottom: 15px;
  &__recipe {
    flex-basis: 20%;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(222, 224, 243);
  }
}
