.recipes-list {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  &__recipe {
    width: calc(100% / 4 - 10px);
    border-radius: 10px;
    margin: 10px 5px;
    background-color: rgb(222, 224, 243);
  }
  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  &__btn--hidden {
    display: none;
  }
}
