.recipes-list {
  margin: 0 15px;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  &__recipe {
    flex-basis: 20%;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(222, 224, 243);
  }
}
