.favorite-list {
  position: relative;

  &__top {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
  }
  &__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
  }
  &__amount {
    margin-left: 3px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: normal;
  }
  &__list {
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 10px;
    border-bottom: 1px solid gray;
    transition: opacity 0.3s;
    background-color: #fff;
    z-index: 10;

    &--active {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }
}
