.favorite-list {
  margin: 0 15px;
  padding: 0 15px;
  &__top {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
  }
  &__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
  }
  &__amount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    width: 30px;
    height: 30px;
    background-color: rgb(67, 69, 83);
    border-radius: 50%;
    span {
      font-weight: normal;
      color: #fff;
    }
  }
  &__list {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 10px;
    border-bottom: 1px solid gray;
    &--active {
      opacity: 1;
      visibility: visible;
      height: 200px;
    }
  }
}
